body {
    background-image: url("images/light.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   
}
.vcard {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px 250px;;
    grid-gap: 3px;
    grid-template-areas: 
    "p i i"
    "a a a"
    "m l g";
    width: 40%;
    margin-left: 50vh;
    margin-top: 5%;
    -webkit-box-shadow: 10px 10px 10px 10px #FFC757;
box-shadow: 10px 10px 10px 10px #FFC757;
}

.photo {
   grid-area: p;
   padding-top: 10px;
   padding-left: 20px;
   
}

.circle {
    border-radius: 50%;
}


.info {
    grid-area: i;
    text-justify: auto;
    color: black;
width: 50%;
height: 70%;
padding-top: 10px;
padding-left: 20px;
margin-top: 10px;
}

.aboutme {
    grid-area: a;
    width: 60%;
    margin: auto;
    text-align: justify;
    text-align: center;
    color: black;
    
}

.footerM {
    grid-area: m;
    width: 40%;
    height: 40%;
    margin-top: 25%;
    margin-left: 25%;
}

.footerL {
    grid-area: l;
    width: 40%;
    height: 40%;
    margin-top: 25%;
    margin-left: 25%;

}

.footerG {
    grid-area: g;
    width: 40%;
    height: 40%;
    margin-top: 25%;
    margin-left: 25%;
}